torch==1.7.1+cpu
torchvision==0.8.2+cpu
torchaudio==0.7.2
numpy==1.19.5
pytorch-pretrained-bert==0.6.2
nltk==3.8.1
spacy==2.2.4
thinc==7.4.1
catalogue==1.0.0
srsly==1.0.5
tqdm==4.66.2
cymem==2.0.6
preshed==3.0.6
blis==0.4.1
murmurhash==1.0.5
wasabi==0.10.1
plac==1.3.3
requests==2.31.0
urllib3==2.0.7
chardet==5.2.0
charset_normalizer==3.3.2
idna==3.6
certifi
regex
boto3
botocore
jmespath
python-dateutil
six
transformers==4.5.1
huggingface_hub
pyyaml
filelock
packaging